/*DOCUMENTO CSS*/
*{ margin: 0px;
 padding: 0px;}

 body {font-family: "Mulish", sans-serif; }

 h1 {text-transform: uppercase;}

 h2 {font-size: 1.5em ;
    padding-bottom: 8px;}

.cabecera {min-height: 80px;
        padding-top: 16px;
        text-align: center;
        border-bottom: 2px solid black;
        margin-bottom: 32px;}

section.cuerpo { width: 100%;
                padding: 32px 0px;}

.container p {font-size: 16px;
line-height: 140%;}

.container a { display: block;
                margin-top: 16px;
            width: 120px;
            padding: 16px;
            text-align: center;
            text-decoration: none;
            color: aliceblue;
            background-color: rgb(204, 152, 253);
            border-radius: 8px;}

.container input {width: 100%;
                padding: 8px;
                margin-bottom: 8px;
                border-radius: 8px;
                border: 1px solid rgba(0, 0, 0, 0.235);} 
                


.container textarea {width:100% ;
                    padding: 8px;
                    max-width: 100%;
                    min-width: 100%;
                    max-height:120px ;
                    min-height: 120px;}

.container {width: 80%;
           margin: auto;
        display: flex; }

.items {width: 50%;
        padding: 0px 16px 0px 16px;}

.pie { width: 100%;
        height: 90px;
        margin-top: 80px;
        text-align: center;
        color: aliceblue;
        line-height: 2em;
        background-color: rgb(94, 94, 172);}

.container a :hover {background-color: black;}
.container a :active {background-color: rgb(255, 0, 238);}


.container input::placeholder, textarea::placeholder {color: rgb(124, 124, 250);}

.container ::before {content: ¨ ¨;
                        display: block;
                        width: 80%;
                        height: 80%;}